<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<h1>{{specs[1]}}</h1>
<br>
<h3>Number of Sales: {{ specs[2] }}</h3>
<h3>Total Profit: {{ specs[3] }}</h3>

<table>
	<tr>
		<th>make</th>
		<th>model</th>
		<th>sold by</th>
		<th>price</th>
	</tr>
	{% for element in data %}
	<tr>
		<td>{{element[3]}} </td>
		<td>{{element[2]}} </td>
		<td>{{element[4]}} </td>
		<td>{{element[5]}} </td>
	</tr>
	{% endfor %}
</table>
